
.event {
    position: relative;
}

.event-content {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

body{
    background:url(images/gb.JPG) ;
    background-size: 90%;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
  
div.main{
    width: 500px;
    margin: 200px auto 0px auto;
}

h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

div.career{
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px soid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px
    rgba(0,0,0,0.3);
    color: #fff;
}

form#career{
    margin: 40px;
}

label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}

input#send{
    width: 200px;
    padding: 7px;
    font-family: 600;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
}
/* Responsive form */
