* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  /* End of Default Styles */
  
  /* Container */
  .container {
    width: 100%;
    height: 100%;
}

/* Navigation */

/*.nav {
    background: linear-gradient(rgba(0, 0, 0, 9), rgba(0, 0, 0, 8)), url(images/image1.jpg);
    background-position: center;
    background-size: cover;
}*/

.logo {
    cursor: pointer;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
}

.logo i {
    font-size: 4rem;
    -webkit-text-stroke: 0.1rem #fff;
    color: #eee;
    margin-right: 1rem;
    margin-top: 10px;
    align-items: center;
}



.nav-full {
  width: 100%;
  height: 11rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {

    /*box-shadow: rgba(0, 0, 0, 0.2)0 2px 6px 0;*/
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1rem solid rgba(216, 215, 215, 0.1);
}


 ul {
    list-style-type: none;
}


ul li {
    float: left;
    width: 140px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
}


 ul li a {
    text-decoration: none;
    color: #eee;
    display: block;
    transition: 1s all ease;
    text-transform: uppercase;
}

 ul li a:hover {
    color: #fc7100;
}

.navigation ul li ul {
    position: absolute;
    width: 200px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
/*ul li ul li {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.2)0 2px 6px 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s all;
}*/

.navigation ul li ul li {
    width: 100%;
    border-top: 1px solid #ccc;
}

.navigation ul li:hover > ul,
  .navigation ul li:focus-within > ul{
    display: block; /* Show dropdown menus when hovering or focusing on parent items */
  }

#menubar {  
    display: none;
  }

.navbar label {
    font-size: 2.5rem;
    color: #ccc;
    cursor: pointer;
    display: none;
}
  
  @media (max-width: 1000px) {

    .navbar {
        padding: 10px;
    }

   .navigation {
    position: absolute;
    top: 11rem;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .navigation ul li {
    width: 100%;
  }

  .navigation ul li ul li {
    position: relative;
    width: 100%;
  }

  .navigation ul li ul li {
    background: rgba(0, 0, 0, 0.3);
  }

    .navbar label {
        display: initial;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    #menubar:checked ~ .navigation {
        display: block;
    }

  }

.banner {
  position: relative;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.heading {
    align-items: center;
    color: whitesmoke;
}

.heading h1 {
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fc7100;
  margin: 2rem 0;
  letter-spacing: 0.2rem;
  line-height: 1.4;
}

.heading p {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  width: 60rem;
  margin: 0 auto 2rem;
  letter-spacing: 0.1rem;
}
  /* End of Navigation */

  /*Footer*/
  .footer {
    position: relative;
    bottom: 0%;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    text-align: center;
    left: 0%;
    right: 0%;
    background-color: #eee;
}

.footer-gridrow {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas: "r1" "r2";
}

.footer1 {
    grid-area: r1;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.9);
}

.footer1 ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    transition: 1s all ease;
    text-transform: uppercase;
}

.footer1 ul li a:hover {
    color: #fc7100;
}

.footer2 {
    grid-area: r2;
    margin-bottom: 20px;
}

.footer-gridcol {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "c1 c2 c3";
}

.footer-col1 {
    grid-area: c1;
    text-align: left;
}

.footer-col2 {
    grid-area: c2;
}

.footer-col3 {
    grid-area: c3;
    text-align: right;
}

.footer-col3 h3 {
    padding: 10px 0 10px 0;
}

.footer-col3 .social-icons a {
    font-size: 30px;
    margin: 10px;
}

.footer-col3 .social-icons :last-child{
    margin-right: 0;
}

.footer-col3 p {
    margin: 20px 0 0 0;
}

.footer-col1 h1 {
    color: #fc7100;
    text-transform: uppercase;
    padding: 10px 0 0 0 ;
}

.footer-col1 h6 {
    font-size: 20px;
    padding: 0 0 20px 0;
}
form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #000;
    font-size: 15px;
}

.footer-col2 .logo i {
    
    font-size: 4rem;
    -webkit-text-stroke: 0.1rem #fff;
    color: #fc7100;
    margin-right: 1rem;
    margin-top: 10px;
    align-items: center;
    padding: 0 0 20px 0;
}

form button {
    background: transparent;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .footer1 {
        display: none;
    }
    .footer {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-gridcol {
      grid-template-columns: 1fr;
      grid-template-areas:
        "c1"
        "c2"
        "c3";
    }
  
    .footer-col1,
    .footer-col2,
    .footer-col3 {
      text-align: center;
      margin: 10px;
      border-top: 1px solid #000;
    }
  
    form input {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer1 ul {
      display: flex;
      flex-direction: column;
    }
  
    .footer1 ul li {
      margin-bottom: 10px;
    }
  }
  /*End of Footer*/