.nav {
    width: 100%;
    height: 100vh;
    background: url(images/r2.jpeg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  .landing {
    position: relative;
    text-align: center;
    justify-content: space-around;
    margin: 10px 0 10px 0;
  }

  .about-ev h1 {
    font-size: 34px;
    text-transform: uppercase;
    margin: 20px;
    color: #b83232;
    font-family: 'Montserrat', sans-serif;
  }

  .about-ev p {
    font-size: 20px;
    text-justify: distribute;
    text-align: center;
    margin: 0 100px 20px 100px;
  }
.event {
    position: relative;
}

.event-content {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 4fr;
    grid-template-areas: 
    "e1 e2"
    "e1 e3";
    grid-gap: 20px;
    margin: 20px;
}

.ev {
    padding: 10px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.event-details {
    grid-area: e1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.5) url(images/r1.jpeg);
    background-size: cover;
    padding: 5px;
    background:linear-gradient(rgba(0,0,0,0.5));
    background-blend-mode: darken;
    color: #fff;
}

.intro {
    box-sizing: border-box;
    background:rgba(0,0,0,0.7);
    height: 300px;
    width: 400px;
}

.event-img1 {
    grid-area: e2;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.event-img1 img {
    align-items: center;
    width: 350px;
    height: 200px;
    padding: 5px;
}

.event-img2 img {
    align-items: center;
    width: 350px;
    height: 200px;
    padding: 5px;
}

.event-img2 {
    grid-area: e3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.event-details h1 {
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}
.event-details table tr td {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.box2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4fr 4fr;
    grid-template-areas: 
    "e21 e11"
    "e32 e11";
    grid-gap: 20px;
    margin: 20px;
}

.ev {
    padding: 10px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.event-details2 {
    grid-area: e11;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background:rgba(0, 0, 0, 0.5) url(images/r4.jpeg);
    background-size: cover;
    padding: 5px;
    color: #fff;
}


.event-img1-1 {
    grid-area: e21;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.event-img1-1 img {
    align-items: center;
    width: 350px;
    height: 200px;
    padding: 5px;
}

.event-img2-2 img {
    align-items: center;
    width: 350px;
    height: 200px;
    padding: 5px;
}

.event-img2-2 {
    grid-area: e32;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.event-details2 h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    
}
.event-details2 table tr td {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 4fr;
    grid-template-areas: 
    "e1 e2"
    "e1 e3";
    grid-gap: 20px;
    margin: 20px;
}

.ev {
    padding: 10px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.event-details3 {
    grid-area: e1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background:url(images/rr3.jpg);
    background-size: cover;
    padding: 5px;
    color: #fff;
}

.box ul li {
    float: none;
    text-align: center;
}

.event-img1-3 {
    grid-area: e2;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.event-img1-3 img {
    align-items: center;
    width: 350px;
    height: 200px;
    padding: 5px;
}

.event-img2-4 img {
    align-items: center;
    width: 350px;
    height: 200px;
    padding: 5px;
}

.event-img2-4 {
    grid-area: e3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.event-details3 h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}
.event-details3 table tr td {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
/* Responsive event */
@media(max-width: 900px){
    .box {
        position: relative;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "e1"
        "e2"
        "e3";
        grid-gap: 20px;
        margin: 20px;
    }
    .event-details {
        position: relative;
        align-items: center;
        height: auto;
        width: auto;
    }

    .box2 {
        position: relative;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "e11"
        "e21"
        "e32";
        grid-gap: 20px;
        margin: 20px;
    }
    
    .intro
    {
        width: auto;
        height: auto;
    }
    .event-img1 {
        grid-area: e2;
        align-items: center;
        justify-content: space-around;
        display: flex;
    }
    
    .event-img1 img {
        align-items: center;
        width: 100%;
        height: auto;
        padding: 5px;
    }
    
    .event-img2 img {
        align-items: center;
        width: 100%;
        height: auto;
        padding: 5px;
    }
    
    .event-img2 {
        grid-area: e3;
        display: flex;
        align-items: center;
    }

    .event-img1-1 {
        grid-area: e21;
        align-items: center;
        justify-content: space-around;
        display: flex;
    }
    
    .event-img1-1 img {
        align-items: center;
        width: 100%;
        height: auto;
        padding: 5px;
    }
    
    .event-img2-2 img {
        align-items: center;
        width: 100%;
        height: auto;
        padding: 5px;
    }
    
    .event-img2-2 {
        grid-area: e32;
        display: flex;
        align-items: center;
    }
    .event-details {
        position: relative;
        align-items: center;
        height: auto;
        width: auto;
    }
}

@media(max-width: 800px){
    .box {
        position: relative;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "e1"
        "e2"
        "e3";
        grid-gap: 20px;
        margin: 20px;
    }

    .box2 {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "e11"
        "e21"
        "e32";
        grid-gap: 20px;
        margin: 20px;
    }
     
    .event-img1 {
        grid-area: e2;
        align-items: center;
        justify-content: space-around;
        display: flex;
    }
    
    .event-img1 img {
        align-items: center;
        width: 100%;
        height: auto;
        padding: 5px;
    }
    
    .event-img2 img {
        align-items: center;
        width: 100%;
        height:100%;
        padding: 5px;
    }
    
    .event-img2 {
        grid-area: e3;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .event-img1-1 {
        grid-area: e21;
        align-items: center;
        justify-content: space-around;
        display: flex;
    }
    
    .event-img1-1 img {
        align-items: center;
        width: 100%;
        height: 2auto;
        padding: 5px;
    }
    
    .event-img2-2 img {
        align-items: center;
        width: 100%;
        height: auto;
        padding: 5px;
    }
    
    .event-img2-2 {
        grid-area: e32;
        display: flex;
    }
    .event-details {
        position: relative;
        align-items: center;
        height: auto;
        width: auto;
    }
    
}